
/*
============
Custom pais
============
*/


.pais-es .video-rey:after, .pais-es .video-rey:before {
    background: url("../img/bandera_video_es2.png") repeat-y;
}

.pais-es .video-rey:before{
        background: url("../img/bandera_video_es1.png") repeat-y;
}

.pais-es h1 {
    font-size: 125px;
    color: #5087ba;
    background-image: url("../img/escandinavia.png");
    background-position: right 5.7% top;
    padding: .85em 0 .1em;
}

.pais-es h1 span {
    top: 20%;
    color: #ff2e2e;
}

.pais-es .encabezado .txt-intro {
    color: #457eb3;
}


.pais-es .encabezado .txt-intro2 {
    color: #ff2e2e;
    font-size: 34px;
    line-height: 1.2;
}

/*InformaciÃƒÆ’Ã‚Â³n*/

.pais-es .info {
    margin-top: 10%;
}

 
.pais-es .el-1 .ingrediente {
    left: 60%;
}


.pais-es .el-2 {
    max-width: 320px;
    float:right;
    color: #ff2e2e;
    margin-top: 45%;

}

.pais-es .r-2 {
    margin-top: 20%;

}

.pais-es .el-4 {
    color: #ff2e2e;
}

.pais-es #espiral{
    position: relative;
    left: 120%;
    top: -120px;

}

.pais-es .mobile {
    display: none;
}



.pais-es .el-5 {
    position: relative;
    left: 150px;
    color: #ff2e2e;
}

.pais-es .r-3 {
    margin-top: 20%;

}


.pais-es .el-7 {
    max-width: 350px;
    float:right;
    margin-top: 22%;
    color: #ff2e2e;
}

.pais-es .r-4 {
    margin-top: 20%;
    color: #ff2e2e;
    margin-bottom: 100px;
}


.txtBanderas {
   margin: 0 auto;
   width: 500px;
}


/*
============
Lineas_inferiores
============
*/

.pais-es .el-1 .img-txt:after {
    content: "";
    display: block;
    position: absolute;
    width: 142%;
    height: 140%;
    background: url("../img/es_linea_1.png") no-repeat;
    background-size: contain;
    left: 32%;
    top: 58%;
    z-index:-1000;
}




.pais-es .el-3:after {
    content: "";
    display: block;
    position: absolute;
    width: 330%;
    height: 330%;
    background: url("../img/es_linea_2.png") no-repeat;
    background-size: contain;
    left: 110%;
    top: 30%;
    z-index:-1000;

}


.pais-es .el-6:after {
    content: "";
    display: block;
    position:absolute;
    width: 150%;
    height: 150%;
    background: url("../img/es_linea_3.png") no-repeat;
    background-size: contain;
    left: 40%;
    bottom:-100%;
    z-index:-1000;

}


/*
============
RESPONSIVE
============
*/

/*1200px hacia abajo*/
@media screen and (max-width: 1199px) {
}

/*Fin 1200px*/


/*1100px hacia abajo*/
@media screen and (max-width: 1099px) {

}
/*Fin 1100px*/


/*992px hacia abajo*/
@media screen and (max-width: 992px){

    .pais-es h1 {
        font-size: 94px;
        background-position: right 3.7% top;
    }


    .pais-es .el-1 .img-txt:after {
    width: 153%;
    height: 150%;
    left: 32%;
    top: 50%;
}



.pais-es .el-3:after {
    width: 330%;
    height: 330%;
    left: 150%;
    top: 26%;
 

}


.pais-es .el-6:after {

    width: 180%;
    height: 150%;
    left: 40%;
    bottom:-100%;
   
}


}
/*Fin 992px*/


/*768px hacia abajo*/

@media screen and (max-width: 768px){


    .pais-es h1 {
        font-size: 68px;
    }


    .pais-es #espiral{
    left: 130%;
    top: -120px;
}


.pais-es .el-5 {
    left: 120px;
}


.pais-es .r-2 {
    margin-top: 22%;

}

.pais-es .r-3 {
    margin-top: 10%;

}


.pais-es .el-7 {
    margin-top: 2%;
}

.pais-es .r-4 {
    margin-top: 10%;
    color: #ff2e2e;
    margin-bottom: 100px;
}


.pais-es .el-1 .img-txt:after {
    width: 162%;
    height: 160%;
    left: 30%;
    top: 45%;
}




.pais-es .el-3:after {
    width: 410%;
    height: 410%;
    left: 107%;

}


.pais-es .el-5 {
    left: 121px;
}


.pais-es .r-3 {
    margin-top: 12%;
}


}
/*Fin 768px*


/*576px hacia abajo*/
@media screen and (max-width: 576px){



    .pais-es h1 {
    font-size: 70px;
    background-position: right 5.7% top;
    padding: .85em 0 .1em;
}

    #espiral{   
    width: 80px;

}



.pais-es .escritorio {
    display: none;
}

.pais-es .mobile {
    display: block;
}

.pais-es .el-5 {
    position:relative;
    top: -140px;
    left: -100px;
}


.pais-es .el-4 p {
    position:relative;
    top:55px;
    left: 190px;

}

.pais-es .el-4 #espiral {
    position:relative;
    top: -80px;
    left: 100px;

}


.pais-es .el-4 img {
    position:relative;
    top: -120px;
    left: 200px;

}


.pais-es .el-3 {
    position:relative;
    top: 50px;
    left: 50px;
    width: 150px;

}


.pais-es .img_banderas{
    position:relative;
    right: 50px;
}


.pais-es .el-1 .img-txt:after {
    width: 190%;
    height: 160%;
    left: 35%;
    top: 61%;
    transform: rotate(-9deg);

}


.pais-es .el-3:after {
    width: 290%;
    height: 280%;
    left: 50%;
    top: -10%;
}

    
}
/*Fin 576px*/


/*480px hacia abajo*/
@media screen and (max-width: 480px){


    .pais-es h1 {
    font-size: 60px;
}




.pais-es .el-4 #espiral {
    position:relative;
    top: -60px;
    left: 100px;
    width: 50px;

}

.pais-es .el-4 img {
    position:relative;
    top: -100px;
    left: 230%;
}


.pais-es .el-4 p{
    left: 200%;
    margin-top: 20%;

}


    .pais-es .el-5 {
    position:relative;
    top: -120px;
    left: -80px;
    }


    .pais-es .el-7 {
    margin-top: 0%;
    }


    .pais-es .el-1 .img-txt:after {
    width: 120%;
    height: 140%;
    left: 25%;
    top: 60%;
    }


    .pais-es .el-3:after {
    width: 140%;
    height: 140%;
    left: 65%;
    top: 75%;
    }


}


/*Fin 480px*/


