@charset "UTF-8"; /*Estilos Generales*/
html #content {
    font-family: 'Noto Serif', serif;
    padding-top: 45px;
}

.txt-rojo {
    color: #e30b44;
}

.txt-cafe {
    color: #6c2727;
}

#content img {
    max-width: 100%;
}

.btn-vermas {
    background: url("../img/btn-vermas.png");
    width: 330px;
    height: 220px;
    display: inline-block;
    font-size: 29px;
    color: #ffd860;
    padding-top: 16px;
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    -o-transition: transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
    margin: 70px 0 0;
}

.btn-vermas:hover {
    text-decoration: none;
    color: #ffd860;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px)
}

.pasaporte-page .btn-volver-home, .pais .btn-volver-home {
    position: fixed;
    right: -15px;
    top: 50%;
    z-index: 2000;
    -webkit-transition: right 400ms;
    -o-transition: right 400ms;
    transition: right 400ms;
    -webkit-box-shadow: 0 2px 19px rgba(0,0,0,.6);
    box-shadow: 0 2px 19px rgba(0,0,0,.6);
    border-radius: 10px;
}

.pasaporte-page .btn-volver-home:hover, .pais .btn-volver-home:hover {
    right: 0;
}

/*Animaciones*/
@-webkit-keyframes hojas {
    from {
        -webkit-transform: rotate(-7deg);
        transform: rotate(-7deg);
    }

    to {
        -webkit-transform: rotate(7deg);
        transform: rotate(7deg);
    }
}

@keyframes hojas {
    from {
        -webkit-transform: rotate(-7deg);
        transform: rotate(-7deg);
    }

    to {
        -webkit-transform: rotate(7deg);
        transform: rotate(7deg);
    }
}

/*Hojas*/
#content aside, #content main {
    position: relative;
}

.hoja {
    position: absolute;
    z-index: 5;
    background-repeat: no-repeat;
}

.hoja-1 {
    width: 141px;
    height: 277px;
    left: -5px;
}

.hoja-1a {
    width: 118px;
    height: 190px;
    background-image: url("../img/hoja-1a.png");
    left: -6px;
    top: 25px;
    -webkit-animation: hojas 2000ms ease-in-out infinite alternate;
    animation: hojas 2000ms ease-in-out infinite alternate;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.hoja-1b {
    width: 97px;
    height: 166px;
    background-image: url("../img/hoja-1b.png");
    left: 0;
    bottom: 0;
    -webkit-animation: hojas 2800ms ease-in-out infinite alternate;
    animation: hojas 2800ms ease-in-out infinite alternate;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.hoja-2 {
    width: 164px;
    height: 250px;
    left: -15px;
}

.hoja-2a {
    width: 118px;
    height: 190px;
    background-image: url("../img/hoja-1a.png");
    left: -6px;
    top: 25px;
    -webkit-animation: hojas 3500ms ease-in-out infinite alternate;
    animation: hojas 3500ms ease-in-out infinite alternate;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.hoja-2b {
    width: 150px;
    height: 166px;
    background-image: url("../img/hoja-2b.png");
    left: 0;
    bottom: 0;
    -webkit-animation: hojas 2900ms ease-in-out infinite alternate;
    animation: hojas 2900ms ease-in-out infinite alternate;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.hoja-3 {
    width: 129px;
    height: 186px;
    background-image: url("../img/hoja-3.png");
    left: -15px;
    -webkit-animation: hojas 2200ms ease-in-out infinite alternate;
    animation: hojas 2200ms ease-in-out infinite alternate;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.hoja-4 {
    width: 153px;
    height: 236px;
    right: 0;
    overflow: hidden;
}

.hoja-4a {
    width: 150px;
    height: 166px;
    background-image: url("../img/hoja-4a.png");
    right: -6px;
    top: 0;
    -webkit-animation: hojas 2900ms ease-in-out infinite alternate;
    animation: hojas 2900ms ease-in-out infinite alternate;
    -webkit-transform-origin: 80% 50%;
    -ms-transform-origin: 80% 50%;
    transform-origin: 80% 50%;
}

.hoja-4b {
    width: 97px;
    height: 166px;
    background-image: url("../img/hoja-4b.png");
    right: -2px;
    bottom: 0;
    -webkit-animation: hojas 2800ms ease-in-out infinite alternate;
    animation: hojas 2800ms ease-in-out infinite alternate;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.hoja-5 {
    width: 148px;
    height: 196px;
    right: 0;
    overflow: hidden;
}

.hoja-5a {
    width: 148px;
    height: 196px;
    right: -8px;
    overflow: hidden;
    background-image: url("../img/hoja-5.png");
    -webkit-animation: hojas 2100ms ease-in-out infinite alternate;
    animation: hojas 2100ms ease-in-out infinite alternate;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

/*Encabezado*/
#content.pais header {
    background: #d31c32 url("../img/fondo-encabezado.jpg") repeat center top;
    background-attachment: fixed;
    padding-top: 20px;
    border-bottom: 3px solid #ffd860;
    position: relative;
    -webkit-box-shadow: 0 0 60px 20px rgba(0, 0, 0, .5);
    box-shadow: 0 0 60px 20px rgba(0, 0, 0, .5);
    z-index: 2;
    overflow: hidden;
}

#content.pais header img {
    width: 145px;
    position: relative;
    z-index: 2;
}

#content.pais header h2 {
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    color: #ffd860;
    text-shadow: 0 0 15px rgba(0,0,0,.6);
    position: relative;
    z-index: 2;
}

#content.pais header::before, #content.pais header::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    display: block;
}

#content.pais header:before {
    right: 55%;
    background: url("../img/fondo-av.png") no-repeat right 80px bottom;
}

#content.pais header:after {
    left: 55%;
    background: url("../img/fondo-av-2.png") no-repeat left bottom;
}

/*Header Home y Pasaporte*/
#content.inicio header .franja-aviones, #content.pasaporte-page header .franja-aviones {
    background: #d31c32 url("../img/fondo-encabezado.jpg") repeat center top;
    background-attachment: fixed;
    padding-top: 20px;
    border-bottom: 3px solid #ffd860;
    position: relative;
    -webkit-box-shadow: 0 0 60px 20px rgba(0, 0, 0, .5);
    box-shadow: 0 0 60px 20px rgba(0, 0, 0, .5);
    z-index: 2;
    overflow: hidden;
    min-height: 160px;
}

#content.inicio header .franja-aviones::before, #content.inicio header .franja-aviones::after, #content.inicio pasaporte .franja-aviones::before, #content.inicio pasaporte .franja-aviones::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    display: block;
}

#content.inicio header .franja-aviones:before, #content.inicio pasaporte .franja-aviones:before {
    right: 55%;
    background: url("../img/fondo-av.png") no-repeat right 80px bottom;
}

#content.inicio header .franja-aviones:after, #content.inicio pasaporte .franja-aviones:after {
    left: 55%;
    background: url("../img/fondo-av-2.png") no-repeat left bottom;
}

#content.inicio header img.rey-logo, #content.pasaporte-page header img.rey-logo {
    width: 188px;
    position: relative;
    z-index: 2;
    margin-top: -120px;
}

#content.inicio header h2, #content.pasaporte-page header h2 {
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    color: #e30c42;
    text-shadow: 0 0 15px rgba(0,0,0,.6);
    position: relative;
    z-index: 2;
    margin-top: 0.4em;
}

#content.inicio .encabezado, #content.pasaporte-page .encabezado {
    background: #0d0d0d url('../img/fondo-header-home.jpg') no-repeat center;
    background-size: cover;
    position: relative;
}

#content.inicio .txt-am, #content.pasaporte-page .txt-am {
    color: #ffd860;
}

#content.inicio .encabezado .sumario, #content.pasaporte-page .encabezado .sumario {
    position: relative;
    padding: 0 145px;
    margin: 0
}

#content.inicio .encabezado .plato, #content.pasaporte-page .encabezado .plato {
    position: absolute;
    max-width : 90px;
    top: 50%;
    margin: -45px 0 0;
}

#content.inicio .encabezado .plato-1, #content.pasaporte-page .encabezado .plato-1 {
    left: 0;
}

#content.inicio .encabezado .plato-2, #content.pasaporte-page .encabezado .plato-2 {
    right: 0;
}

#content.inicio .avion-intro img, #content.pasaporte-page .avion-intro img {
    width: 90px;
    margin-top: -90px;
}

/*Video*/
#content aside {
    position: relative;
}

#content aside .video-rey {
    position: relative;
    z-index: 1;
    line-height: 0;
    -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, .8);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, .8);
}

/*#content aside .video-rey:before, #content aside .video-rey:after {
    content: "";
    display : block;
    position: absolute;
    height: 100%;
    width: 38px;
    top: 0;
}

#content aside .video-rey:before {
    left: -50px;
}

#content aside .video-rey:after {
    right: -50px;
}
*/
#content aside::before, #content aside::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 40%;
    width: calc(50% - 400px);
    top: 0;
    display: block;
}

#content aside:before {
    left: 0;
    background: url("../img/fondo-mesa.jpg") no-repeat left bottom;
}

#content aside:after {
    right: 0;
    background: url("../img/fondo-mesa.jpg") no-repeat right bottom;
}

#content aside .hoja-1, #content aside .hoja-4, #content.inicio .encabezado .hoja-1, #content.inicio .encabezado .hoja-4, #content.pasaporte-page .encabezado .hoja-1, #content.pasaporte-page .encabezado .hoja-4 {
    top: 0;
}

#content aside .hoja-2, #content aside .hoja-5, #content.inicio .encabezado .hoja-2, #content.inicio .encabezado .hoja-5, #content.pasaporte-page .encabezado .hoja-2, #content.pasaporte-page .encabezado .hoja-5 {
    bottom: -20%;
}

/*Contenido general*/
#content main {
    background-image: url("../img/halftone-yellow.png");
    background-repeat: repeat;
    background-position: center;
    background-color: #ffd860;
    -webkit-box-shadow: 0 0 60px 20px rgba(0, 0, 0, .5);
    box-shadow: 0 0 60px 20px rgba(0, 0, 0, .5);
    padding-top: 130px;
    padding-bottom: 0;
    position: relative;
    z-index: 4;
    overflow: hidden;
}

#content main .hoja-1 {
    bottom: -4%;
}

#content main .hoja-3 {
    top: 50%;
    -webkit-animation: hojas 4200ms ease-in-out infinite alternate;
    animation: hojas 4200ms ease-in-out infinite alternate;
}

#content main .hoja-5 {
    top: 55%;
}

#content main .hoja-4 {
    bottom: -4%;
}

/*Home*/
#content.inicio main {
    background-image: url("../img/aviones-fondo-home.png"), url("../img/aviones-fondo-home2.png"), url("../img/aviones-fondo-home3.png"), url("../img/aviones-fondo-home4.png"), url("../img/halftone-yellow.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
    background-position: -5% 10%, 115% 45%, 8% 90%, 95% 108%, center;
    background-color: #ffd860;
}

.sumario {
    margin: 30px 0;
}

.sumario p {
    font-size: 31px;
    margin-bottom: 1em;
}

.box {
    border-radius: 16px;
    text-align: center;
    padding-top: 25px;
    -webkit-box-shadow: 0 6px 25px 2px rgba(117, 99, 36, 0.5);
    box-shadow: 0 6px 25px 2px rgba(117, 99, 36, 0.5);
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    -o-transition: transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
    position: relative;
    margin-top: 140px;
}

.box:before {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center top;
    width: 134px;
    height: 72px;
    left: 50%;
    margin-left: -67px;
    top: -71px;
}

.box .img {
    margin-bottom: -32px;
    position: relative;
    -webkit-transition: -webkit-transform 300ms ease 100ms;
    transition: -webkit-transform 300ms ease 100ms;
    -o-transition: transform 300ms ease 100ms;
    transition: transform 300ms ease 100ms;
    transition: transform 300ms ease 100ms, -webkit-transform 300ms ease 100ms;
}

.box .img::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("../img/platos-hover.png") no-repeat center top;
    display: none;
    background-size: contain;
}

.box h3 {
    color: #ffd860;
    font-weight: bold;
    font-size: 44px;
    -webkit-transition: -webkit-transform 300ms ease 200ms;
    transition: -webkit-transform 300ms ease 200ms;
    -o-transition: transform 300ms ease 200ms;
    transition: transform 300ms ease 200ms;
    transition: transform 300ms ease 200ms, -webkit-transform 300ms ease 200ms;
    position: relative;
    z-index: 4;
}

.box p {
    color: #ffffff;
    padding: 0.7em;
    -webkit-transition: -webkit-transform 300ms ease 200ms;
    transition: -webkit-transform 300ms ease 200ms;
    -o-transition: transform 300ms ease 200ms;
    transition: transform 300ms ease 200ms;
    transition: transform 300ms ease 200ms, -webkit-transform 300ms ease 200ms;
}

.box a {
    font-size: 25px;
    font-weight: bold;
    background-color: #ffd860;
    border-radius: 12px;
    padding: 1px 18px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 6px 20px rgba(0, 0 , 0 ,.5);
    box-shadow: 0 6px 20px rgba(0, 0 , 0 ,.5);
    -webkit-transition: border 500ms, -webkit-transform 300ms ease 200ms;
    transition: border 500ms, -webkit-transform 300ms ease 200ms;
    -o-transition: transform 300ms ease 200ms, border 500ms;
    transition: transform 300ms ease 200ms, border 500ms;
    transition: transform 300ms ease 200ms, border 500ms, -webkit-transform 300ms ease 200ms;
    border: 3px solid transparent;
}

/*Hovers*/
.box:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.box:hover .img:before {
    display: block;
}

.box:hover .img, .box:hover h3, .box:hover p, .box:hover a {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

/*Customs*/
.box-mx:before {
    background-image: url('../img/bandera-mexico.png')
}

.box-mx {
    background-color: #df4954;
    background-image: url("../img/textura-papel-mx.png");
}

.box-mx a {
    color: #df4954;
}

.box-mx a:hover {
    border-color: #df4954;
}

.box-id:before {
    background-image: url('../img/bandera-india.png')
}

.box-id {
    background-color: #fc783d;
    background-image: url("../img/textura-papel-id.png");
}

.box-id a {
    color: #fc783d;
}

.box-id a:hover {
    border-color: #fc783d;
}

.box-om:before {
    background-image: url('../img/bandera-oriente.png')
}

.box-om {
    background-color: #96c352;
    background-image: url("../img/textura-papel-om.png");
}

.box-om .img {
    margin-top: -6px;
    margin-bottom: -38px;
}

.box-om h3 {
    font-size: 32px;
    line-height: 1;
    padding: 0 29px;
}

.box-om a {
    color: #96c352;
}

.box-om a:hover {
    border-color: #96c352;
}

.box-it:before {
    background-image: url('../img/bandera-italia.png')
}

.box-it {
    background-color: #28af65;
    background-image: url("../img/textura-papel-it.png");
}

.box-it a {
    color: #28af65;
}

.box-it a:hover {
    border-color: #28af65;
}

.box-pr:before {
    background-image: url('../img/bandera-peru.png')
}

.box-pr {
    background-color: #f55052;
    background-image: url("../img/textura-papel-pr.png");
}

.box-pr a {
    color: #f55052;
}

.box-pr a:hover {
    border-color: #f55052;
}

.box-ig:before {
    background-image: url('../img/bandera-ing.png')
}

.box-ig {
    background-color: #f55052;
    background-image: url("../img/textura-papel-ig.png");
}

.box-ig a {
    background-color: #f55052;
    color: #ffd860;
}

.box-ig a:hover {
    border-color: #ffd860;
}

.box-gr:before {
    background-image: url('../img/bandera-grecia.png')
}

.box-gr {
    background-color: #4a91ca;
    background-image: url("../img/textura-papel-gr.png");
}

.box-gr a {
    color: #4a91ca;
}

.box-gr a:hover {
    border-color: #4a91ca;
}

.box-ps {
    background-color: #506aa8;
    background-image: url("../img/textura-papel-ps.png");
    z-index: 5;
}

.box-ps a {
    color: #506aa8;
}

.box-ps a:hover {
    border-color: #506aa8;
}

.pasaporte {
    position: relative;
}

.pasaporte .phoja {
    background: #fff;
    border-radius: 16px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-box-shadow: 2px 0px 15px 0px rgba(117, 99, 36, 0.3);
    box-shadow: 2px 0px 15px 0px rgba(117, 99, 36, 0.3);
    -webkit-transition: -webkit-transform 500ms ease 100ms;
    transition: -webkit-transform 500ms ease 100ms;
    -o-transition: transform 500ms ease 100ms;
    transition: transform 500ms ease 100ms;
    transition: transform 500ms ease 100ms, -webkit-transform 500ms ease 100ms;
}

.pasaporte .phoja-1 {
    left: 15px;
    -webkit-transition: -webkit-transform 500ms ease 200ms;
    transition: -webkit-transform 500ms ease 200ms;
    -o-transition: transform 500ms ease 200ms;
    transition: transform 500ms ease 200ms;
    transition: transform 500ms ease 200ms, -webkit-transform 500ms ease 200ms;
}

.pasaporte .phoja-2 {
    left: 10px;
    -webkit-transition: -webkit-transform 500ms ease 150ms;
    transition: -webkit-transform 500ms ease 150ms;
    -o-transition: transform 500ms ease 150ms;
    transition: transform 500ms ease 150ms;
    transition: transform 500ms ease 150ms, -webkit-transform 500ms ease 150ms;
}

.pasaporte .phoja-3 {
    left: 5px;
    -webkit-transition: -webkit-transform 500ms ease 50ms;
    transition: -webkit-transform 500ms ease 50ms;
    -o-transition: transform 500ms ease 50ms;
    transition: transform 500ms ease 50ms;
    transition: transform 500ms ease 50ms, -webkit-transform 500ms ease 50ms;
}

.pasaporte .box:hover ~ .phoja {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.box-es:before {
    background-image: url('../img/bandera-esc.png')
}

.box-es {
    background-color: #f55052;
    background-image: url("../img/textura-papel-es.png");
}

.box-es a {
    color: #f55052;
}

.box-es a:hover {
    border-color: #f55052;
}

.box-es h3 {
    font-size: 36px;
    margin-top: 0.25em;
}

/*Footer*/
#content footer {
    background: #121016;
    text-align: center;
    padding: 50px 0;
    height: initial!important;
}

/*Enbezados internas*/
.pais h1 {
    font-weight: bold;
    position: relative;
    text-shadow: -1px -1px 1px rgba(199, 199, 199, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 25px rgba(136, 114, 43, 0.46);
    background-size: contain;
    background-repeat: no-repeat;
    letter-spacing: 0.06em;
}

.pais h1 span {
    font-style: italic;
    font-size: 72px;
    position: absolute;
    text-shadow: none;
    top: 0;
    letter-spacing: 0em;
}

.pais .encabezado .txt-intro {
    font-size: 46px;
    line-height: 1.2;
}

.pais .encabezado .linea {
    margin: 5px 0 30px;
}

/*Infografias*/
#content .info p {
    font-size: 21px;
}

#content .abs-txt p {
    position: absolute;
}

.img-txt {
    position: relative;
}

.ingrediente {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 0.05em;
    position: absolute;
    font-size: 39px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 0 0 15px rgba(0, 0, 0, .7);
}

.pasaporte .avion {
    margin-top: 6%;
    margin-bottom: 4%;
}

/*
============
Mapa
============
*/
#mapa {
    position: relative;
}

#mapa > img, #mapa .cont-pines {
    position: absolute;
}

#mapa img.fondo-mapa {
    position: relative;
}

#mapa .cont-pines {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#mapa .continentes {
    top: 0;
    left: 0;
}

#mapa .globo {
    top: 20%;
    left: 5%;
}

#mapa .cont-pines .pin {
    position: absolute;
}

#mapa .cont-pines .pin img {
    -webkit-transition: margin 200ms ease;
    -o-transition: margin 200ms ease;
    transition: margin 200ms ease;
}

#mapa .cont-pines .pin:hover img {
    margin-top: -15%;
}

#mapa .cont-pines > a:nth-child(1) {
    top: 36%;
    left: 15%;
}

#mapa .cont-pines > a:nth-child(2) {
    top: 49%;
    left: 18%;
}

#mapa .cont-pines > a:nth-child(3) {
    top: 16%;
    left: 46%;
}

#mapa .cont-pines > a:nth-child(4) {
    top: 20%;
    left: 41%;
}

#mapa .cont-pines > a:nth-child(5) {
    top: 26%;
    left: 45%;
}

#mapa .cont-pines > a:nth-child(6) {
    top: 28%;
    left: 49.5%;
}

#mapa .cont-pines > a:nth-child(7) {
    top: 35%;
    left: 56%;
}

#mapa .cont-pines > a:nth-child(8) {
    top: 38%;
    left: 66.5%;
}

#mapa .nube {
    -webkit-animation: nubes linear infinite alternate;
    animation: nubes linear infinite alternate;
}

#mapa .nube:nth-child(4) {
    top: 8%;
    left: 15%;
    -webkit-animation-duration: 5000ms;
    animation-duration: 5000ms;
}

#mapa .nube:nth-child(5) {
    top: 63%;
    left: 5%;
    -webkit-animation-delay: 1500ms;
    animation-delay: 1500ms;
    -webkit-animation-duration: 6000ms;
    animation-duration: 6000ms;
}

#mapa .nube:nth-child(6) {
    top: 19%;
    left: 75%;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
    -webkit-animation-duration: 8000ms;
    animation-duration: 8000ms;
}

#mapa .barco {
    top: 67%;
    left: 55%;
    -webkit-animation: nubes linear infinite alternate;
    animation: nubes linear infinite alternate;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    -webkit-animation-duration: 9000ms;
    animation-duration: 9000ms;
}

/*Animaciones mapa*/
.fondo-mapa {
    -webkit-transform: scaleX(0.1)!important;
    -ms-transform: scaleX(0.1)!important;
    transform: scaleX(0.1)!important;
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.24, -0.21, 0.65, 1.89) 900ms;
    transition: -webkit-transform 400ms cubic-bezier(0.24, -0.21, 0.65, 1.89) 900ms;
    -o-transition: transform 400ms cubic-bezier(0.24, -0.21, 0.65, 1.89) 900ms;
    transition: transform 400ms cubic-bezier(0.24, -0.21, 0.65, 1.89) 900ms;
    transition: transform 400ms cubic-bezier(0.24, -0.21, 0.65, 1.89) 900ms, -webkit-transform 400ms cubic-bezier(0.24, -0.21, 0.65, 1.89) 900ms;
}

.fondo-mapa.aos-animate {
    -webkit-transform: scaleX(1)!important;
    -ms-transform: scaleX(1)!important;
    transform: scaleX(1)!important;
}

/*Popovers*/
.popover {
    font-family: 'Noto Serif', serif;
    border: none;
    border-radius: 12px;
    padding: 8px 8px 12px;
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,.4);
    box-shadow: 0 0 18px rgba(0,0,0,.4);
}

.popover-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.08em;
    color: inherit;
    background-color: transparent;
    border-bottom: none;
}

#mapa .popover a.enlace {
    background: gray;
    padding: 3px 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    left: 0;
    -webkit-transition: left 400ms cubic-bezier(0.39, 0.58, 0.57, 1);
    -o-transition: left 400ms cubic-bezier(0.39, 0.58, 0.57, 1);
    transition: left 400ms cubic-bezier(0.39, 0.58, 0.57, 1);
}

#mapa .popover a.enlace:hover {
    text-decoration: none;
    left: 4%;
}

#mapa .popover h3 {
    color: #f3c74d;
    font-size: 40px;
}

#mapa .popover p {
    color: #fff;
}

#mapa .popover a.enlace::before {
    content: "";
    display: block;
    background: url('../img/popover-plane.png') no-repeat center;
    background-size: contain;
    position: absolute;
    width: 30px;
    height: 30px;
    right: -40px;
    top: -1px;
}

.popover .cerrarPop {
    position: absolute;
    width: 53px;
    height: 51px;
    display: block;
    background: url('../img/cerrar-am.png');
    right: 0;
    bottom: 0;
}

#mapa .pin-per[aria-describedby^="popover"] ~ .popover .cerrarPop {
    background: url('../img/cerrar-rj.png');
}

/*Popovers por pais*/
/*México*/
#mapa .pin-mex[aria-describedby^="popover"] ~ .popover {
    background: url('../img/pop-mex.png') no-repeat , url('../img/pop-t-mex.jpg') repeat;
    background-position: right 8px top 50%;
    color: #df4954;
}

#mapa .pin-mex[aria-describedby^="popover"] ~ .popover a.enlace {
    background: #f3c74d;
    color: #df4954;
}

#mapa .pin-mex[aria-describedby^="popover"] ~ .popover p {
    padding-right: 60px;
}

#mapa .pin-mex[aria-describedby^="popover"] ~ .popover .arrow:after {
    border-right-color: #026e4e;
}

/*Peru*/
#mapa .pin-per[aria-describedby^="popover"] ~ .popover {
    background: url('../img/pop-per.png') no-repeat , url('../img/pop-t-per.jpg') repeat;
    background-position: right 8px top 9%;
    background-size: 80px, auto;
    color: #df4954;
}

#mapa .pin-per[aria-describedby^="popover"] ~ .popover a.enlace {
    background: #f3c74d;
    color: #df4954;
}

#mapa .pin-per[aria-describedby^="popover"] ~ .popover .arrow:after {
    border-right-color: #fda624;
}

#mapa .pin-per[aria-describedby^="popover"] ~ .popover a.enlace {
    color: #fff;
    background-color: #d53544;
}

#mapa .pin-per[aria-describedby^="popover"] ~ .popover a.enlace::before {
    background: url('../img/popover-plane2.png') no-repeat center;
    background-size: contain;
}

#mapa .pin-per[aria-describedby^="popover"] ~ .popover h3 {
    color: #d53544;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 50px;
}

/*Escandinavia*/
#mapa .pin-esc[aria-describedby^="popover"] ~ .popover {
    background: url('../img/pop-esc.png') no-repeat , url('../img/pop-t-esc.jpg') repeat;
    background-position: right 8px top 52%;
    background-size: 80px, auto;
    color: #df4954;
}

#mapa .pin-esc[aria-describedby^="popover"] ~ .popover p {
    padding-right: 30px;
}

#mapa .pin-esc[aria-describedby^="popover"] ~ .popover .arrow:after {
    border-right-color: #d84150;
}

#mapa .pin-esc[aria-describedby^="popover"] ~ .popover a.enlace {
    color: #f3c74d;
    background-color: #00b2ff;
}

#mapa .pin-esc[aria-describedby^="popover"] ~ .popover h3 {
    font-size: 24px;
}

/*Inglaterra*/
#mapa .pin-ing[aria-describedby^="popover"] ~ .popover {
    background: url('../img/pop-ing.png') no-repeat , url('../img/pop-t-ing.jpg') repeat;
    background-position: right 8px top 52%;
    background-size: 80px, auto;
    color: #df4954;
}

#mapa .pin-ing[aria-describedby^="popover"] ~ .popover a.enlace {
    background: #df4954;
    color: #f3c74d;
}

#mapa .pin-ing[aria-describedby^="popover"] ~ .popover p {
    padding-right: 68px;
}

#mapa .pin-ing[aria-describedby^="popover"] ~ .popover .arrow:after {
    border-right-color: #0067a2;
}

#mapa .pin-ing[aria-describedby^="popover"] ~ .popover h3 {
    font-size: 30px;
}

/*Italia*/
#mapa .pin-ita[aria-describedby^="popover"] ~ .popover {
    background: url('../img/pop-ita.png') no-repeat , url('../img/pop-t-ita.jpg') repeat;
    background-position: right 5px top 52%;
    color: #df4954;
}

#mapa .pin-ita[aria-describedby^="popover"] ~ .popover a.enlace {
    background: #d43545;
    color: #f3c74d;
}

#mapa .pin-ita[aria-describedby^="popover"] ~ .popover p {
    padding-right: 60px;
    margin-bottom: 26px;
}

#mapa .pin-ita[aria-describedby^="popover"] ~ .popover .arrow:after {
    border-right-color: #2ba45c;
}

/*Grecia*/
#mapa .pin-gre[aria-describedby^="popover"] ~ .popover {
    background: url('../img/pop-gre.png') no-repeat , url('../img/pop-t-gre.jpg') repeat;
    background-position: right 8px top 52%;
    color: #df4954;
}

#mapa .pin-gre[aria-describedby^="popover"] ~ .popover a.enlace {
    background: #f3c74d;
    color: #3375ac;
}

#mapa .pin-gre[aria-describedby^="popover"] ~ .popover p {
    padding-right: 50px;
}

#mapa .pin-gre[aria-describedby^="popover"] ~ .popover .arrow:after {
    border-right-color: #3173aa;
}

/*Oriente*/
#mapa .pin-ori[aria-describedby^="popover"] ~ .popover {
    background: url('../img/pop-ori.png') no-repeat , url('../img/pop-t-ori.jpg') repeat;
    background-position: right 8px top 52%;
    color: #df4954;
}

#mapa .pin-ori[aria-describedby^="popover"] ~ .popover a.enlace {
    background: #f3c74d;
    color: #459a34;
}

#mapa .pin-ori[aria-describedby^="popover"] ~ .popover p {
    padding-right: 50px;
}

#mapa .pin-ori[aria-describedby^="popover"] ~ .popover .arrow:after {
    border-right-color: #419832;
}

#mapa .pin-ori[aria-describedby^="popover"] ~ .popover h3 {
    font-size: 24px;
}

/*India*/
#mapa .pin-ind[aria-describedby^="popover"] ~ .popover {
    background: url('../img/pop-ind.png') no-repeat , url('../img/pop-t-ind.jpg') repeat;
    background-position: right 8px top 7%;
    color: #df4954;
}

#mapa .pin-ind[aria-describedby^="popover"] ~ .popover a.enlace {
    background: #008e3c;
    color: #f3c74d;
}

#mapa .pin-ind[aria-describedby^="popover"] ~ .popover p {
    padding-top: 10px;
}

#mapa .pin-ind[aria-describedby^="popover"] ~ .popover .arrow:after {
    border-right-color: #ee6f36;
}

.popover.fade {
    -webkit-transition: opacity .25s linear .1s;
    -o-transition: opacity .25s linear .1s;
    transition: opacity .25s linear .1s;
}

@-webkit-keyframes nubes {
    from {
        margin-left: -6%;
    }

    to {
        margin-left: 6%;
    }
}

@keyframes nubes {
    from {
        margin-left: -6%;
    }

    to {
        margin-left: 6%;
    }
}

/*
============
Custom pais
============
*/
/*Inglaterra*/
/*Encabezado*/
.pais-ing .video-rey:after, .pais-ing .video-rey:before {
    background: url("../img/ban-lt-ig.png") repeat-y;
}

.pais-ing h1 {
    font-size: 160px;
    color: #2c5688;
    background-image: url("../img/tit-fondo-ig.png");
    background-position: right 5.7% top;
    padding: .85em 0 .1em;
}

.pais-ing h1 span {
    top: 20%;
    color: #ff2e2e;
}

.pais-ing .encabezado .txt-intro {
    color: #2c5587;
}

/*Información*/
.pais-ing .info {
    margin-top: 20px;
}

.pais-ing .el-1 {
    position: relative;
    max-width: 375px;
    text-align: center;
}

.pais-ing .el-2 {
    max-width: 375px;
    float: right;
    clear: both;
    color: #2c5688;
    margin-top: 28%;
    position: relative;
}

.pais-ing .el-2 p {
    padding: 0 35px;
    margin-top: -20px;
}

.pais-ing .el-1 .img-txt:after {
    content: "";
    display: block;
    position: absolute;
    width: 70%;
    height: 50%;
    background: url("../img/graf-ig-1.png") no-repeat;
    background-size: contain;
    left: 90%;
    top: 32%;
}

.pais-ing .el-2:after {
    content: "";
    display: block;
    position: absolute;
    width: 65%;
    height: 50%;
    background: url("../img/graf-ig-2.png") no-repeat;
    background-size: contain;
    right: 92%;
    top: 90%;
}

.pais-ing .el-3 p {
    margin-top: -20px;
}

.pais-ing .el-3 {
    position: relative;
    max-width: 375px;
    text-align: center;
    margin-top: 9%;
    color: #f63533;
}

.pais-ing .el-4 {
    margin-top: 12%;
    margin-left: -8%;
}

.pais-ing .el-4 img {
    width: 220px;
}

.pais-ing .r-3 {
    margin-top: -47%;
    text-align: center;
}

.pais-ing .r-3 .abs-txt p {
    color: #2c5688;
}

.pais-ing .r-3 .abs-txt p:nth-child(2) {
    top: 20%;
    right: 0;
}

.pais-ing .r-3 .abs-txt p:nth-child(3) {
    top: 38%;
    right: 21%;
}

.pais-ing .r-3 .abs-txt p:nth-child(4) {
    top: 57%;
    right: 44.5%;
}

.pais-ing .r-3 .abs-txt p:nth-child(5) {
    top: 75%;
    right: 60%;
}

.pais-ing .r-3 .abs-txt p:last-child {
    color: #f63533;
    right: 7%;
    bottom: 4%;
    max-width: 220px;
}

.pais-ing .r-4 {
    margin-top: -2%;
    margin-bottom: 120px;
}

/*
============
RESPONSIVE
============
*/
/*1200px hacia abajo*/
@media screen and (max-width: 1199px) {
    #mapa .cont-pines .pin {
        position: absolute;
        text-align: center;
        width: 39px;
    }

    #content.pasaporte-page-page .avion {
        max-width: 120px;
        margin: 50px;
    }
}

/*Fin 1200px*/
/*1100px hacia abajo*/
@media screen and (max-width: 1099px) {
    .pasaporte-page .btn-volver-home, .pais .btn-volver-home {
        width: 80px;
    }

    .hoja {
        background-size: contain;
    }

    .hoja-1 {
        width: 141px;
        height: 177px;
        left: -5px;
    }

    .hoja-1a {
        width: 120px;
        height: 110px;
        left: -6px;
        top: 25px;
    }

    .hoja-1b {
        width: 97px;
        height: 126px;
        left: 0;
        bottom: 0;
    }

    .hoja-2 {
        width: 144px;
        height: 200px;
        left: -15px;
    }

    .hoja-2a {
        width: 78px;
        height: 190px;
        left: -6px;
        top: 25px;
    }

    .hoja-2b {
        width: 120px;
        height: 136px;
        left: 0;
        bottom: 0;
    }

    .hoja-3 {
        width: 89px;
        height: 128px;
        left: -15px;
    }

    .hoja-4 {
        width: 153px;
        height: 166px;
        right: 0;
    }

    .hoja-4a {
        width: 90px;
        height: 146px;
        right: -6px;
        top: 0;
    }

    .hoja-4b {
        width: 67px;
        height: 126px;
        right: -2px;
        bottom: 0;
    }

    .hoja-5 {
        width: 108px;
        height: 106px;
        right: 0;
    }

    .hoja-5a {
        width: 78px;
        height: 106px;
        right: -8px;
    }

    #content aside .hoja-2, #content aside .hoja-5 {
        bottom: -15%;
    }

    #content.inicio aside .video-rey:before {
        left: 0;
    }

    #content.inicio aside .video-rey:after {
        right: 0;
    }

    #content aside .video-rey:before {
        left: -15px;
    }

    #content aside .video-rey:before, #content aside .video-rey:after {
        width: 15px;
        background-size: contain
    }

    #content aside .video-rey:after {
        right: -15px;
    }

    #content header:before {
        right: 53%;
        background: url("../img/fondo-av.png") no-repeat right 60px bottom;
    }

    #content header:after {
        left: 53%;
        background: url("../img/fondo-av-2.png") no-repeat left -30px bottom;
    }
}

/*Fin 1100px*/
/*992px hacia abajo*/
@media screen and (max-width: 991px) {
    #content header img {
        width: 130px;
    }

    #content aside::before, #content aside::after {
        width: calc(50% - 200px);
    }

    /*Tipografia 0.9*/
    .sumario p {
        font-size: 28px;
    }

    #content header h2 {
        font-size: 80px;
    }

    .box h3 {
        font-size: 39px;
    }

    .box a {
        font-size: 22px;
    }

    .btn-vermas {
        width: 297px;
        height: 198px;
        background-size: 100%;
        background-repeat: no-repeat;
        font-size: 26px;
        padding-top: 16px;
        margin: 70px 0 0;
    }

    /*Internas puntaje*/
    .pais h1 span {
        font-size: 58px;
    }

    .pais .encabezado .txt-intro {
        font-size: 36px;
    }

    /*Home boxes*/
    .box .img {
        margin-bottom: -22px;
        position: relative;
        -webkit-transition: -webkit-transform 300ms ease 100ms;
        transition: -webkit-transform 300ms ease 100ms;
        -o-transition: transform 300ms ease 100ms;
        transition: transform 300ms ease 100ms;
        transition: transform 300ms ease 100ms, -webkit-transform 300ms ease 100ms;
    }

    .box-om h3 {
        font-size: 29px;
        line-height: 1;
        padding: 0 29px;
    }

    .box-om .img {
        margin-top: -6px;
        margin-bottom: -28px;
    }

    .box-ig .img {
        margin-top: -6px;
        margin-bottom: -9px;
    }

    .box-ig h3 {
        font-size: 32px;
    }

    .box-ps h3 {
        font-size: 32px;
    }

    .box-es .img {
        margin-bottom: -13px;
    }

    .box-es h3 {
        font-size: 26px;
    }

    #content.inicio main {
        background-image: url("../img/aviones-fondo-home.png"), url("../img/aviones-fondo-home2.png"), url("../img/aviones-fondo-home4.png"), url("../img/fondo-main.jpg");
        background-repeat: no-repeat, no-repeat, no-repeat, repeat;
        background-position: -5% 10%, 115% 45%, 95% 108%, center;
        background-color: #ffd860;
    }

    /*Inglaterra*/
    .pais-ing h1 {
        font-size: 120px;
        background-position: right 3.7% top;
        padding: .85em 0 .1em;
    }

    .pais-ing .el-1 .img-txt:after {
        width: 70%;
        height: 50%;
        left: 55%;
        top: 40%;
        z-index: -1;
    }

    .pais-ing .el-2:after {
        width: 65%;
        height: 50%;
        right: 62%;
        top: 94%;
    }

    .pais-ing .r-3 .abs-txt p:nth-child(2) {
        top: 31%;
        right: 10%;
    }

    .pais-ing .r-3 .abs-txt p:nth-child(3) {
        top: 49%;
        right: 33.5%;
    }

    .pais-ing .r-3 .abs-txt p:nth-child(4) {
        top: 68%;
        right: 58.5%;
    }

    .pais-ing .r-3 .abs-txt p:nth-child(5) {
        top: 85%;
        right: 79%;
    }

    .pais-ing .r-3 .abs-txt p:last-child {
        color: #f63533;
        right: -0.5%;
        bottom: 3%;
        max-width: 220px;
    }

    /*Mapa*/
    #mapa .cont-pines .pin {
        position: absolute;
        text-align: center;
        width: 30px;
    }

    #mapa .nube {
        max-width: 150px;
    }

    #mapa .globo {
        width: 70px;
    }

    #mapa .barco {
        max-width: 120px;
    }

    #content header:before {
        right: 53%;
        background: url("../img/fondo-av.png") no-repeat right 10px bottom;
    }

    #content header:after {
        left: 53%;
        background: url("../img/fondo-av-2.png") no-repeat left -110px bottom;
    }
}

/*Fin 992px*/
/*768px hacia abajo*/
@media screen and (max-width: 767px) {
    .hoja {
        display: none;
    }

    #content header h2 {
        font-size: 70px!important;
    }

    .box h3 {
        font-size: 39px;
    }

    .box .img {
        margin-bottom: -22px;
        position: relative;
        -webkit-transition: -webkit-transform 300ms ease 100ms;
        transition: -webkit-transform 300ms ease 100ms;
        -o-transition: transform 300ms ease 100ms;
        transition: transform 300ms ease 100ms;
        transition: transform 300ms ease 100ms, -webkit-transform 300ms ease 100ms;
    }

    .box, .pasaporte {
        max-width: 320px;
        margin-right: auto;
        margin-left: auto;
    }

    .box-ps {
        margin-top: 70px;
    }

    .box-ps:before {
        display: none;
    }

    /*Internas textos*/
    .pais h1 {
        text-shadow: -1px -1px 1px rgba(199, 199, 199, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.3), 0 4px 15px rgba(136, 114, 43, 0.46);
    }

    .pais h1 span {
        font-size: 42px;
    }

    .pais .encabezado .txt-intro {
        font-size: 30px;
    }

    #content .info p {
        font-size: 19px;
    }

    #content .ingrediente {
        font-size: 24px;
    }

    .pais .flecha img {
        width: 50px;
    }

    .inicio aside .container {
        max-width: 100%;
        padding: 0;
    }

    /*Inglaterra*/
    .pais-ing h1 {
        font-size: 89px;
        background-position: right 3.7% top;
        padding: .85em 0 .1em;
    }

    .pais-ing .el-4 img {
        width: 160px;
        margin-left: 9%;
    }

    .pais-ing .r-3 {
        margin-top: -27%;
    }

    .pais-ing .r-3 .abs-txt p:nth-child(2) {
        top: 31%;
        right: 9%;
    }

    .pais-ing .r-3 .abs-txt p:nth-child(3) {
        top: 49%;
        right: 32.5%;
    }

    .pais-ing .r-3 .abs-txt p:nth-child(4) {
        top: 68%;
        right: 57.5%;
    }

    .pais-ing .r-3 .abs-txt p:nth-child(5) {
        top: 85%;
        right: 77%;
    }

    .pais-ing .r-3 .abs-txt p:last-child {
        color: #f63533;
        right: -0.5%;
        bottom: -3%;
        max-width: 160px;
    }

    /*Mapa*/
    #mapa-wp {
        position: relative;
        overflow: auto;
        border: 8px solid #ffb929;
        padding: 15% 5% 5%;
    }

    #mapa-wp::before {
        content: "Desliza >>";
        color: #e40a43;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        position: absolute;
        top: 3%;
        width: 100%;
        text-align: center;
    }

    #mapa {
        min-width: 690px;
        position: relative;
    }

    /*Flechas popover*/
    #mapa .pin-mex[aria-describedby^="popover"] ~ .popover.bs-popover-left .arrow:after {
        border-left-color: #026e4e;
    }

    #mapa .pin-per[aria-describedby^="popover"] ~ .popover.bs-popover-left .arrow:after {
        border-left-color: #ffa823;
    }

    #mapa .pin-esc[aria-describedby^="popover"] ~ .popover.bs-popover-left .arrow:after {
        border-left-color: #da434f;
    }

    #mapa .pin-ing[aria-describedby^="popover"] ~ .popover.bs-popover-left .arrow:after {
        border-left-color: #0165a1;
    }

    #mapa .pin-ita[aria-describedby^="popover"] ~ .popover.bs-popover-left .arrow:after {
        border-left-color: #2ba35b;
    }

    #mapa .pin-gre[aria-describedby^="popover"] ~ .popover.bs-popover-left .arrow:after {
        border-left-color: #3274ab;
    }

    #mapa .pin-ori[aria-describedby^="popover"] ~ .popover.bs-popover-left .arrow:after {
        border-left-color: #469b34;
    }

    #mapa .pin-ind[aria-describedby^="popover"] ~ .popover.bs-popover-left .arrow:after {
        border-left-color: #eb6b36;
    }

    .pasaporte-page .btn-volver-home, .pais .btn-volver-home {
        width: 60px;
        right: -10px
    }

    #content header:before {
        right: 53%;
        background: url("../img/fondo-av.png") no-repeat right 15% bottom;
        background-size: 180%;
        transform: scaleY(-1);
    }

    #content header:after {
        left: 53%;
        background: url("../img/fondo-av-2.png") no-repeat right 10% bottom;
        background-size: 180%;
        transform: scaleY(-1);
    }

    /*Nuevo encabezado*/
    #content.inicio .encabezado .sumario, #content.pasaporte-page .encabezado .sumario {
        padding: 0;
    }

    #content.inicio .encabezado .plato, #content.pasaporte-page .encabezado .plato {
        display: none;
    }

    #content.inicio .avion-intro img, #content.pasaporte-page .avion-intro img {
        width: 90px;
        margin-top: -90px;
    }
}

/*Fin 768px*/
/*576px hacia abajo*/
@media screen and (max-width: 575px) {
    #content header img {
        width: 130px;
    }

    #content header h2 {
        font-size: 65px!important;
        margin-top: 0.2em;
    }

    .sumario p {
        font-size: 24px;
    }

    #content aside::before, #content aside::after {
        width: 50%;
    }

    .btn-vermas {
        width: 280px;
        font-size: 24px;
    }

    .pais h1 span {
        font-size: 36px;
    }

    .pais .encabezado .txt-intro {
        font-size: 22px;
    }

    #content .info p {
        font-size: 16px;
    }

    #content main {
        padding-top: 70px;
    }

    /*Inglaterra*/
    .pais-ing h1 {
        font-size: 74px;
        background-position: right 3.7% top;
        padding: .85em 0 .1em;
        text-align: center;
    }

    .pais-ing .r-3 {
        margin-top: -7%;
        padding-bottom: 50px;
    }

    .pais-ing .r-3 .abs-txt p:nth-child(2) {
        top: 14%;
        left: 70%;
        right: initial;
    }

    .pais-ing .r-3 .abs-txt p:nth-child(3) {
        top: 30%;
        left: 70%;
        right: initial;
    }

    .pais-ing .r-3 .abs-txt p:nth-child(4) {
        top: 45.3%;
        left: 70%;
        right: initial;
    }

    .pais-ing .r-3 .abs-txt p:nth-child(5) {
        top: 61%;
        left: 70%;
        right: initial;
    }

    .pais-ing .r-3 .abs-txt p:last-child {
        color: #f63533;
        right: initial;
        left: 50%;
        margin-left: -110px;
        bottom: -3%;
        max-width: 220px;
    }

    .pais-ing .r-4 {
        margin-top: -2%;
        margin-bottom: 60px;
    }
}

/*Fin 576px*/
/*480px hacia abajo*/
@media screen and (max-width: 480px) {
    #content.inicio .avion-intro img, #content.pasaporte-page .avion-intro img {
       margin-top: 0px;
    }
    #content header img {
        width: 100px;
    }
    #content .rey-logo {
        width: 150px!important;
    }
    #content header h2 {
        font-size: 45px!important;
    }

    .sumario p {
        font-size: 18px;
    }

    .box-es h3 {
        font-size: 32px;
    }

    .pais h1 span {
        font-size: 26px;
    }

    .pais .encabezado .txt-intro {
        font-size: 19px;
    }

    .pais .flecha img {
        width: 40px;
    }

    /*Inglaterra*/
    .pais-ing h1 span {
        top: 19%;
        text-shadow: 0 1px 9px rgba(255, 230, 147, 0.86)
    }

    .pais-ing h1 {
        font-size: 46px;
        background-position: right 3.7% top;
        padding: 1.2em 0 .1em;
        text-align: center;
    }

    .pais-ing .r-1 > .col-6, .pais-ing .r-2 > .col-6 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .pais-ing .r-1 .el-1 img:last-child {
        width: 140px;
        margin: 10% 0 0 40%;
    }

    .pais-ing .el-1 .img-txt:after {
        width: 70%;
        height: 50%;
        left: 0%;
        top: 100%;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    .pais-ing .r-2 .el-3 {
        max-width: 200px;
    }

    .pais-ing .el-2:after {
        width: 65%;
        height: 50%;
        right: -22%;
        top: 114%;
        -webkit-transform: rotate(-70deg);
        -ms-transform: rotate(-70deg);
        transform: rotate(-70deg)
    }

    .pais-ing .r-2 .el-4 {
        text-align: right;
        margin-top: -6%;
    }

    .pais-ing .r-3 {
        margin-top: 0;
        padding-bottom: 60px;
    }

    .pais-ing .r-3 .abs-txt p:last-child {
        bottom: -6%;
    }

    #mapa .arrow {
        display: none;
    }
}
/*Fin 480px*/
@media screen and (min-width: 768px) and (max-width: 991px){
    .inicio .box-it p,
    .inicio .box-es p {
        padding: 0.7em 2em;
    }
    .inicio .box-ps img{
       margin-bottom: 2.2%; 
    }
}
@media screen and (min-width: 992px ) {
    .inicio .box-mx p,
    .inicio .box-id p,
    .inicio .box-om p,
    .inicio .box-pr p,
    .inicio .box-ig p,
    .inicio .box-gr p {
        padding: 0.7em 3em;
    }
    .inicio .box-it .btn,
    .inicio .box-es .btn {
        margin-top: 1.03em;
    }
    .inicio .box-ps img {
        margin-top:-.25em;
    }
}