
/*
============
Custom pais
============
*/


.pais-ori .video-rey:after, .pais-ori .video-rey:before {
    background: url("../img/bandera_video_oriente.png") repeat-y;
}




.pais-ori h1 {
    font-size: 180px;
    color: #65a126;
    background-image: url("../img/imagen_intro_oriente.png");
    background-position: right 5.7% top 100%;
    background-size: 450px;
    padding: .85em 0 .1em;
}

.pais-ori h1 span {
    color: #f23333;
}


.pais-ori .encabezado .txt-intro {
    color: #65a126;
}

.pais-ori .encabezado .txt-intro2 {
    font-size: 34px;
    line-height: 1.2;
    color: #f23333;
}



/*Informacion*/

.pais-ori .info {
    margin-top: 20%;
}


.pais-ori .txt_rojo {
    color: #f23333;
}


.pais-ori .txt_verde {
    color: #65a126;
}



.pais-ori  #recipiente{
    position:absolute;
    top: 30%;
}

.pais-ori #flechas_rojas{
    position:relative;
    left: 50%;
}

.pais-ori .el-3{
    margin-top: -30%;
    position:absolute;
    left:9%;
}



.bebidas p{
    position:absolute;
    right: -22%;
    margin-top: -150px;

}

.pais-ori .r-2{
    margin-top: 5%;
}

.pais-ori .r-2 p{
    margin-top: 10%;
}


.pais-ori #flecha_verde{
    position: absolute;
    top: 120%;
    right: 40%;

}

.pais-ori #flecha_corta{
    position: relative;
    left: 30%;
}

.pais-ori .r-3{
    margin-top:20%;
    margin-bottom: 10%;
} 

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

#flechas_rojas2{
        display:none;
    }    

/*
============
RESPONSIVE
============
*/

/*1200px hacia abajo*/
@media screen and (max-width: 1199px){

}

/*Fin 1200px*/


/*1100px hacia abajo*/
@media screen and (max-width: 1099px) {

}
/*Fin 1100px*/

/*Fin 1100px*/
/*992px hacia abajo*/
@media screen and (max-width: 992px) {

    .pais-ori h1 {
    font-size: 160px;
    background-size: 380px;
    }

    .pais-ori .info {
    margin-top: 10%;
    }

    .olla{
        margin-top: 50%;
    }

    #flechas_rojas{
        margin-left:-80px;
    }
   
    .col_bebidas{
        margin-left:-80px;
    }

}


/*Fin 992px*/
/*768px hacia abajo*/
@media screen and (max-width: 768px){

    .el-1{
        margin-bottom: 150px;
    }

    .pais-ori .r-2{
        margin-top: 150px;
    }


}

/*Fin 768px*/
/*576px hacia abajo*/
@media screen and (max-width: 576px){

    .pais-ori h1 {
    font-size: 100px;
    background-size: 250px;
    }

    .el-1{
    margin-bottom: -200px;
    }

    #flechas_rojas{
        display:none;
    }

    #flechas_rojas2{
        display:block;
    }


    .bebidas{
        position:relative;
    }

    .btea{
        top: 100px;
        left: 50px;
    }

    .btea p{
        top: 400px;
        left: -70px;
    }

    .bcafe{
        top: -150px;   
        left: 350px; 
    }

    .bcafe p{
        top: 400px;
        left: -70px;
    }

    .espiral{
        display:none;
    }

    .pais-ori .r-2{
        margin-top: 300px;
        margin-right:15px;
    }


}


/*Fin 576px*/
/*480px hacia abajo*/
@media screen and (max-width: 480px){


    .pais-ori h1 {
    font-size: 75px;
    background-size: 180px;
    }

    .olla{
    margin-top: 60%;
    }

    #flechas_rojas2{
    margin-left: -5%;
    }

     .btea{
        top: 100px;
        left: 100px;
    }


    .bcafe{
        top: 150px;   
        left: 100px; 
    }

    .bcafe p{
        top: 400px;
        left: -70px;
    }


     
    .pais-ori .r-2{
        margin-top: 600px;
        margin-right:15px;
    }

    .el-6{
        display:none;
    }



    .el-8{
        display:none;
    }




   




}

/*Fin 480px*/





